body {
	font-size: 1.8em;
	color: #000000;
	background-color: #ffffff;
	font-family: 'Teko', sans-serif;
}
/*header*/
#header-nav {
	background-color: #000000;
	border-radius: 0;
}
.navbar-brand {
	padding-top: 20px;	
	height: 80px;
}
/*restaurant name*/
.navbar-brand h1 {
	float: left;
	font-family: 'Staatliches', cursive;
	color: #f7ff00;
	font-size: 2em;
	font-weight: bold;	
	margin-top: 0;
	margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-header {
	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
	border: 1px solid #f7ff00;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}
.icon-bar {
	border: 1px solid #f7ff00;
}
#nav-list li {
	background-color: #f7ff00; 
	color: #000000;
	font-size: 1.5em;	
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
ul.navbar-nav {
	margin: 0;
}
/*end of header*/

/*main content*/
h2 {
	font-weight: bold;
	margin-bottom: 25px;  
}
/*h3 {
	color: #000000;
	font-weight: bold;
}*/
section {
	background-color: #f7ff00;
	color: #000000;
	margin-bottom: 25px;
}
#main-content {
	padding-left: 0;
	padding-right: 0;
}
/*end of the page*/

/*xs devices*/
@media (max-width: 767px) {
	.navbar-brand h1 {
		font-size: 2em;
	}
	#main-content {
		margin-left: 30px;
		margin-right: 30px;
	}
}
